.footer {
  display: flex;
  align-items: center;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background: #2c70ff;
}

.footer p {
  flex: 1;
  color: #fff;
  font-size: 1.25em;
  text-align: center;
}

@media (min-width: 600px) {
  .footer p {
    font-size: 1.5em;
  }
}
