.price {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 60px;
  background: #f7f7f7;
}

.price-item {
  flex: 1 1 260px;
  margin: 10px;
  padding: 20px;
  border: 4px solid var(--price-item-accent-color);
  border-style: solid;
  background: #fff;
}

.price-item--copper {
  --price-item-accent-color: var(--c-copper);
}

.price-item--silver {
  --price-item-accent-color: var(--c-silver);
}

.price-item--gold {
  --price-item-accent-color: var(--c-gold);
}

.price-item h2 {
  margin-top: 20px;
  font-size: 3em;
  text-align: center;
  color: var(--price-item-accent-color);
}

.price-item span {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px 0 5px 0;
  color: var(--price-item-accent-color);
  border-top: 2px solid var(--price-item-accent-color);
  border-bottom: 2px solid var(--price-item-accent-color);
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 300px;
  margin: 20px auto;
  color: #222222;
  font-size: 1.25em;
  font-style: italic;
}

.price-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.price-item li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: var(--price-item-accent-color);
  border-radius: 50%;
}

.price-item a {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #222222;
  background: var(--price-item-accent-color);
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .price {
    padding-left: 10px;
    padding-right: 10px;
  }

  .price .price-item--silver {
    order: -1;
  }

  .price .price-item--gold {
    order: -2;
  }
}
